
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(90deg, #61a93e14, #fff, #61a93e14);
}

@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(90deg, #61a93e0a, #fff, #61a93e0a);
    }
}

.navbar {
    box-shadow: 0px 0px 14px 3px #61a93e;
}

.bg-primary {
    background-color: #61a93e!important;
}

.header-flag-img {
    width: 20px;
}

.header-logo-bottom-text {
    font-size: 12px;
}

.contributors-list {
    height: 300px;
    overflow-y: scroll;
}

.contributors-list li img {
    width: 20px;
}

.contributors-list li p {
    color: #61a93e;
    margin-bottom: 4px;
    font-weight: bold;
}

.contributors-list li {
    margin-bottom: 15px;
    margin-top: 15px;
}

body.custom-scrollbar::-webkit-scrollbar {
    width: 9px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #61a93ede;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #61a93e;
}

.btn-primary {
    color: #fff;
    background-color: #61a93e!important;
    border-color: #61a93e!important;
    box-shadow: 0px 0px 5px 1px #61a93e;
}

.text-primary {
    color: #61a93e!important;
}

.payment-logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    max-width: 24%;
}

.footer-link {
    text-decoration: none;
    color: #fff!important;
}

.footer-link:hover {
    text-decoration: underline;
    color: #fff!important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #61a93e!important;
    box-shadow: 0 0 1.5px 0.5px #61a93e;
}
 .owl-carousel .owl-stage {
      display: flex;
    }

   .owl-carousel .owl-item img {
      width: auto;
      height: 100%;
    }

/*HEADER*/

.main-logo {
    width: 250px;
}
.logo-text {
    font-size: 50px;
}

.logo-taniq {
    width: 350px;

}


@media only screen and (max-width: 600px) {
    .main-logo {
        width: 0%;
    }
    .logo-taniq {
        width: 90%;
    }
    .logo-text {
        font-size: 23px;
    }

}

header .nav-link {
    font-size: 20px;
}
@media only screen and (max-width: 780px) {


header .nav-link {
    font-size: 13px;
}

}

footer .text-reset {
    text-decoration: none;
}

/*HEADER*/


pre {
    white-space: break-spaces;
    font-family: inherit;
    font-size: 17px;
}


.divider-custom {
    height: 1px;
    width: 100%;
    background-color: #61a93e;
}

.news-wrapper {
    border-radius: 8px;
    box-shadow: 0px 0px 9px 3px #25d20d82;
}
